.flex-container {
  background-color: lightblue;
  display: flex;
  width: 100%;
  height: 100vh;
}

.flex-box {
  flex-grow: 1;
  border: 2px solid black;
  background-color: cadetblue;
  margin: 10px;
  height: 300px;
}

.flex-box.box-2{
  flex-grow: 1;

  background-color: chartreuse;
}

.flex-box.box-3{
  flex-grow: 1;
  background-color: lightcyan;
  align-self: stretch;
}

.bar-container{
  height: 200px;
  width: 100%;
  background-color: grey;
}

.bar {
  height: 100%;
  width: 0%;
  background-color: hotpink;
}

